@page {
     size: A4;
     margin: 15mm 5mm 15mm 5mm;

     @top-center {
         content: element(header);
     } 
   }
@media print {
  body * {
    visibility: hidden;
  }
  
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}